{name, "Tsung"}.
{authors, ["nicolas.niclausse@niclux.org"]}.
{description, "Tsung is an open-source multi-protocol distributed load testing tool"}.
{homepage, "http://tsung.erlang-projects.org/"}.
{license, "GPLv2", "COPYING"}.
{url, {git, "https://github.com/processone/tsung.git", {tag, "da6b68981f238dc48aea3f658b96fc89d2ffc676"}}}.
{build_command, "$AGNER_PACKAGE_REPO/build.sh"}.
{install_command, "make install"}.
{bin_files, ["bin/tsung","bin/tsung-recorder"]}.
{requires, [{"agner","atleast:0.4.7"}]}.
