{name, "Tsung"}.
{authors, ["nicolas.niclausse@niclux.org"]}.
{description, "Tsung is an open-source multi-protocol distributed load testing tool"}.
{homepage, "http://tsung.erlang-projects.org/"}.
{license, "GPLv2", "COPYING"}.
{url, {git, "git://git.process-one.net/tsung/mainline.git", {branch, "master"}}}.
{build_command, "$AGNER_PACKAGE_REPO/build.sh"}.
{install_command, "make install"}.
{bin_files, ["bin/tsung","bin/tsung-recorder"]}.
{requires, [{"agner","atleast:0.4.7"}]}.